---
layout: base.njk
---
<article class="page wrap">
  <header class="page-head">
    <h1 class="page-title">{{ title }}</h1>
  </header>
  <div class="prose">
    {%- if photo %}
    <figure class="page-photo">
      <img src="/{{ photo }}" alt="{{ site.name }}" sizes="(min-width: 800px) 360px, 100vw">
    </figure>
    {%- endif %}
    {{ content | safe }}
  </div>
</article>
